@page "/headmaster/feed"
@layout MainSchoolsManagementSystem.Components.Layout.HeadmasterLayout
@using MainSchoolsManagementSystem.Components.Shared
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Headmaster")]

<PageTitle>Feed - Headmaster</PageTitle>

<div class="page-header">
    <h2>School Feed</h2>
</div>

<FeedComponent CurrentRole="Headmaster" />
