@page "/teacher/settings"
@layout MainSchoolsManagementSystem.Components.Layout.TeacherLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Teacher")]

<PageTitle>Settings - Teacher</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>Settings</h3>
    </div>
    <div class='card-body'>
        <p>This Settings page is currently under development.</p>
    </div>
</div>
