@page "/assistant/schedule"
@layout MainSchoolsManagementSystem.Components.Layout.AssistantLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Assistant")]

<PageTitle>Schedule - Assistant</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>Schedule</h3>
    </div>
    <div class='card-body'>
        <p>This Schedule page is currently under development.</p>
    </div>
</div>
