@page "/assistant/settings"
@layout MainSchoolsManagementSystem.Components.Layout.AssistantLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Assistant")]

<PageTitle>Settings - Assistant</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>Settings</h3>
    </div>
    <div class='card-body'>
        <p>This Settings page is currently under development.</p>
    </div>
</div>
