@page "/assistant/tasks"
@layout MainSchoolsManagementSystem.Components.Layout.AssistantLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Assistant")]

<PageTitle>Tasks - Assistant</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>Tasks</h3>
    </div>
    <div class='card-body'>
        <p>This Tasks page is currently under development.</p>
    </div>
</div>
