@page "/director/dashboard"
@layout MainSchoolsManagementSystem.Components.Layout.DirectorLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Director")]

<PageTitle>Dashboard - Director</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>Dashboard</h3>
    </div>
    <div class='card-body'>
        <p>This Dashboard page is currently under development.</p>
    </div>
</div>
