@page "/director/feed"
@layout MainSchoolsManagementSystem.Components.Layout.DirectorLayout
@using MainSchoolsManagementSystem.Components.Shared
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Director")]

<PageTitle>Feed - Director</PageTitle>

<div class="page-header">
    <h2>School Feed</h2>
</div>

<FeedComponent CurrentRole="Director" />
