@page "/director/reports"
@layout MainSchoolsManagementSystem.Components.Layout.DirectorLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Director")]

<PageTitle>Reports - Director</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>Reports</h3>
    </div>
    <div class='card-body'>
        <p>This Reports page is currently under development.</p>
    </div>
</div>
