@page "/director/staffmanagement"
@layout MainSchoolsManagementSystem.Components.Layout.DirectorLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Director")]

<PageTitle>StaffManagement - Director</PageTitle>

<div class='card card-premium'>
    <div class='card-header'>
        <h3 class='card-title'>StaffManagement</h3>
    </div>
    <div class='card-body'>
        <p>This StaffManagement page is currently under development.</p>
    </div>
</div>
